<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2021 - 2022.
  ~ Author: Pavel Matusevich.
  ~ Licensed under GNU AGPLv3.
  ~ All rights are reserved.
  -->

<Configuration status="warn">
    <Properties>
        <Property name="archivePath">.eversity-archive-logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileLogger" fileName="current_log.log"
                     filePattern="${archivePath}/archive-log-%d{yyyy-MM-dd}.log" immediateFlush="true">
            <PatternLayout>
                <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="MainLogger" level="trace" additivity="true">
            <appender-ref ref="fileLogger" level="trace"/>
            <appender-ref ref="console" level="trace"/>
        </Logger>
        <Logger name="Schools.by" level="trace" additivity="false">
            <appender-ref ref="fileLogger" level="trace"/>
            <appender-ref ref="console" level="trace"/>
        </Logger>
        <Logger name="Eversity" level="trace" additivity="true">
            <appender-ref ref="fileLogger" level="trace"/>
            <appender-ref ref="console" level="trace"/>
        </Logger>
        <Logger name="org.eclipse.jetty" level="INFO" additivity="true">
            <appender-ref ref="fileLogger" level="info"/>
            <appender-ref ref="console" level="trace"/>
        </Logger>
        <Logger name="io.netty" level="info" additivity="true">
            <appender-ref ref="fileLogger" level="info"/>
            <appender-ref ref="console" level="trace"/>
        </Logger>
        <Root level="debug" additivity="false">
            <appender-ref ref="console" level="trace"/>
            <appender-ref ref="fileLogger" level="trace"/>
        </Root>
    </Loggers>
</Configuration>
